[dde]
pkgquery_url = http://dde.debian.net/dde/q/udd

[packages]
# Packages listed in the following taskfiles will be featured on the website
# _if_ they are also present in the repository
select taskfiles =
 svn://svn.debian.org/blends/projects/science/trunk/debian-science/tasks/neuroscience-cognitive
 svn://svn.debian.org/blends/projects/med/trunk/debian-med/tasks/imaging
 svn://svn.debian.org/blends/projects/med/trunk/debian-med/tasks/imaging-dev

# Additional selection filter (similar to 'select taskfiles'), only listing
# package names
select names = libnifti1 odin mitools afni-atlases python-pyssdh python-networkx
 r-cran-glmnet python-rpy2 python-nibabel-snapshot
 python-scikits-learn python-mdp

# Information about prospective packages to be imported from taskfiles
prospective =
 svn://svn.debian.org/blends/projects/science/trunk/debian-science/tasks/neuroscience-cognitive
 svn://svn.debian.org/blends/projects/med/trunk/debian-med/tasks/imaging
 svn://svn.debian.org/blends/projects/med/trunk/debian-med/tasks/imaging-dev

[blend package aliases]
# alias a package name from a blend taskfile to an arbitray number of additional
# package names -- if the original name should appear in the package list it has
# to be added as an alias as well
mni-icbm152-nlin-2009 = mni-icbm152-nlin-2009a mni-icbm152-nlin-2009b mni-icbm152-nlin-2009c
fsl = fsl fsl-doc fsl-atlases fsl-possum-data fsl-first-data fsl-feeds
fslview = fslview fslview-doc
python-mvpa = python-mvpa python-mvpa-snapshot
libgiftiio-dev = libgiftiio-dev gifti-bin

[mirrors]
us-nh = http://neuro.debian.net/debian
us-tn = http://masi.vuse.vanderbilt.edu/neurodebian
de = http://apsy.gse.uni-magdeburg.de/debian

[neurodebian]
# Release files of all repositories to be contained in the website
releases =
 http://neuro.debian.net/debian/dists/dapper/Release
 http://neuro.debian.net/debian/dists/gutsy/Release
 http://neuro.debian.net/debian/dists/hardy/Release
 http://neuro.debian.net/debian/dists/intrepid/Release
 http://neuro.debian.net/debian/dists/jaunty/Release
 http://neuro.debian.net/debian/dists/karmic/Release
 http://neuro.debian.net/debian/dists/lucid/Release
 http://neuro.debian.net/debian/dists/maverick/Release
 http://neuro.debian.net/debian/dists/etch/Release
 http://neuro.debian.net/debian/dists/lenny/Release
 http://neuro.debian.net/debian/dists/squeeze/Release
 http://neuro.debian.net/debian/dists/sid/Release

[release codenames]
etch = Debian GNU/Linux 4.0 (etch)
lenny = Debian GNU/Linux 5.0 (lenny)
squeeze = Debian testing (squeeze)
sid = Debian unstable (sid)
#dapper = Ubuntu 06.06 LTS "Dapper Drake" (dapper)
#edgy = Ubuntu 06.10 "Edgy Eft" (edgy)
#gutsy = Ubuntu 07.10 "Gutsy Gibbon" (gutsy)
hardy = Ubuntu 08.04 LTS "Hardy Heron" (hardy)
intrepid = Ubuntu 08.10 "Intrepid Ibex" (intrepid)
jaunty = Ubuntu 09.04 "Jaunty Jackalope" (jaunty)
karmic = Ubuntu 09.10 "Karmic Koala" (karmic)
lucid = Ubuntu 10.4 LTS "Lucid Lynx" (lucid)
maverick = Ubuntu upcoming release "Maverick Meerkat" (maverick)

[nitrc ids]
afni = 23
ants = 130
camino = 253
caret = 34
connectomeviewer = 355
dicomnifti = 218
fsl = 25
fslview = 25
gifti-bin = 75
imagej = 256
itksnap = 110
libminc-dev = 129
minc-tools = 129
libgiftiio-dev = 75
libnifti1 = 26
libnifti1-dev = 26
nifti-bin = 26
odin = 153
mitools = 153
mricron = 152
mrtrix = 128
python-mvpa = 162
python-nipype = 325
slicer = 50
voxbo = 73

