[Desktop Entry]
Encoding=UTF-8
GenericName=Analysis of Functional NeuroImages
GenericName[de]=Analyse funktioneller Bildgebung
Name=AFNI
Exec=nd-autoinstall afni
Type=Application
Terminal=false
Categories=X-NeuroDebian-MedicalImaging
