[Desktop Entry]
Encoding=UTF-8
GenericName=Medical Image Processing, Analysis, and Visualization
Name=MIPAV
Icon=mipav
Exec=nd-autoinstall mipav
Type=Application
Terminal=false
Categories=X-NeuroDebian-MedicalImaging
