[Desktop Entry]
Encoding=UTF-8
GenericName=3D Structure Segmentation
Name=ITK-SNAP
Exec=itksnap %F
Type=Application
Terminal=false
Categories=X-NeuroDebian-MedicalImaging
Icon=itksnap.xpm
