[Desktop Entry]
Name=User Mailing List Archive
Type=Application
Exec=x-www-browser "http://lists.alioth.debian.org/pipermail/neurodebian-users"
Comment=Opens the list archive in a browser window
Categories=X-NeuroDebian-Support
