[Desktop Entry]
Encoding=UTF-8
GenericName=Cortical Surface Reconstruction and Visualization
Name=Caret
Exec=caret5
Type=Application
Terminal=false
Categories=X-NeuroDebian-MedicalImaging;

