[Desktop Entry]
Encoding=UTF-8
GenericName=Electrophysiological Data Analysis
GenericName[de]=Elektrophysiologische Daten-Analyse
Name=OpenElectrophy
Exec=nd-autoinstall openelectrophy
Type=Application
Terminal=false
Categories=X-NeuroDebian-Electrophysiology
Icon=openelectrophy.png
