[Desktop Entry]
Encoding=UTF-8
Name=VirtualMachine Setup Wizard
Exec=nd-vmsetupwizard
Type=Application
Terminal=false
Icon=system-run
Categories=X-NeuroDebian
