Source: neurodebian
Section: science
Priority: optional
Maintainer: NeuroDebian Team <team@neuro.debian.net>
Uploaders: Michael Hanke <mih@debian.org>, Yaroslav Halchenko <debian@onerussian.com>
Build-Depends: debhelper (>= 7.0.50~), xcftools, help2man, inkscape, imagemagick, python-html5lib, po-debconf
Standards-Version: 3.9.5
Homepage: http://neuro.debian.net
Vcs-Browser: http://git.debian.org/?p=pkg-exppsy/neurodebian.git
Vcs-Git: git://git.debian.org/git/pkg-exppsy/neurodebian.git

Package: neurodebian
Architecture: all
Pre-depends: python, wget
Depends: neurodebian-keyring, ${misc:Depends}
Recommends: netselect
Suggests: neurodebian-desktop, neurodebian-popularity-contest
Description: turnkey platform for the neuroscience
 The NeuroDebian project integrates and maintain a variety of
 neuroscience-oriented (such as AFNI, FSL, PsychoPy, etc.) and many
 generic computational (such as condor, pandas, etc.) software projects
 within Debian.
 .
 This package enables NeuroDebian repository on top of the stock
 Debian or Ubuntu system.


Package: neurodebian-dev
Architecture: all
Depends: ${misc:Depends}, devscripts, cowbuilder, neurodebian-keyring
Recommends: python, zerofree, moreutils, time, ubuntu-keyring, debian-archive-keyring, apt-utils
Suggests: virtualbox-ose, virtualbox-ose-fuse
Description: NeuroDebian development tools
 neuro.debian.net sphinx website sources and development tools used by
 NeuroDebian to provide backports for a range of Debian/Ubuntu
 releases.


Package: neurodebian-desktop
Architecture: all
Depends: ${misc:Depends}, ssh-askpass-gnome | ssh-askpass, desktop-base, gnome-icon-theme,
         neurodebian-popularity-contest
Suggests:
Description: neuroscience research environment
 This package contains NeuroDebian artwork (icons, background image)
 and a NeuroDebian menu featuring most popular neuroscience tools
 automatically installed upon initial invocation.


Package: neurodebian-keyring
Architecture: all
Depends: ${misc:Depends}
Description: GnuPG archive keys of the NeuroDebian archive
 The NeuroDebian project digitally signs its Release files. This package
 contains the archive keys used for that.

Package: neurodebian-popularity-contest
Architecture: all
Depends: ${misc:Depends}, popularity-contest
Description: Helper for NeuroDebian popularity contest submissions
 This package is a complement to the generic popularity-contest
 package to enable anonymous submission of usage statistics to
 NeuroDebian in addition to the popcon submissions to the underlying
 distribution (e.g. Debian or Ubuntu) popcon server.
 .
 Your participation in popcon is important for following reasons:
  - Popular packages receive more attention from developers, bugs are
    fixed faster and updates are provided quicker.
  - Assure that we do not drop support for a previous release of Debian
    or Ubuntu while are active users.
  - User statistics could be used by upstream research software
    developers to acquire funding for continued development.
 .
 It has an effect only if you have decided to participate in the
 Popularity Contest of your distribution, i.e. Debian or Ubuntu.
 You can always enable or disable your participation in popcon by
 running 'dpkg-reconfigure popularity-contest' as root.

Package: neurodebian-guest-additions
Architecture: all
Pre-Depends:
 virtualbox-guest-utils,
 virtualbox-guest-x11,
 virtualbox-guest-dkms,
Depends: ${misc:Depends},
         sudo,
         neurodebian-desktop,
         gdm | lightdm,
		 zenity,
Recommends: chromium,
            update-notifier,
Description: NeuroDebian guest additions (DO NOT INSTALL OUTSIDE VIRTUALBOX)
 This package configures a Debian installation as a guest operating system
 in a VirtualBox-based virtual machine for NeuroDebian.
 .
 DO NOT install this package unless you know what you are doing! For example,
 installation of this package relaxes several security mechanisms.
