Source: neurodebian
Section: science
Priority: optional
Maintainer: NeuroDebian Team <team@neuro.debian.net>
Uploaders: Michael Hanke <michael.hanke@gmail.com>, Yaroslav Halchenko <debian@onerussian.com>
Build-Depends: debhelper (>= 7.0.50~), xcftools, help2man, inkscape, imagemagick
Standards-Version: 3.9.1
Homepage: http://neuro.debian.net
Vcs-Browser: http://git.debian.org/?p=pkg-exppsy/neurodebian.git
Vcs-Git: git://git.debian.org/git/pkg-exppsy/neurodebian.git
XS-DM-Upload-Allowed: yes


Package: neurodebian-dev
Architecture: all
Depends: ${misc:Depends}, devscripts, cowbuilder, python, neurodebian-keyring
Recommends: virtualbox-ose, virtualbox-ose-fuse, zerofree
Suggests:
Description: NeuroDebian development tools
 Pacifier


Package: neurodebian-desktop
Architecture: all
Depends: ${misc:Depends}, ssh-askpass-gnome | ssh-askpass, desktop-base, gnome-icon-theme
Suggests:
Description: neuroscience research environment
 Pacifier


Package: neurodebian-keyring
Architecture: all
Depends: ${misc:Depends}
Description: GnuPG archive keys of the NeuroDebian archive
 The NeuroDebian project digitally signs its Release files. This package
 contains the archive keys used for that.

Package: neurodebian-popularity-contest
Architecture: all
Depends: ${misc:Depends}, popularity-contest
Description: Helper for NeuroDebian popularity contest submissions
 This package is a complement to a generic popularity-contest package
 to enable submission of usage statistics to NeuroDebian in addition
 to the submissions to the underlying distribution (e.g. Debian or
 Ubuntu) popcon server.
 .
 It has an effect only if you have decided to participate in the
 Popularity Contest.
 .
 Your participation in popcon is important for following reasons:
  - Popular packages receive more attention from developers, bugs are
    fixed faster and updates are provided quicker.
  - Assure that we do not drop support for a previous release of Debian
    or Ubuntu while are active users.
  - User statistics could be used by upstream research software
    developers to acquire funding for continued development.
 .
 You can always enable or disable your participation in popcon by
 running 'dpkg-reconfigure popularity-contest' as root.

Package: neurodebian-guest-additions
Architecture: all
Pre-Depends: virtualbox-ose-guest-utils, virtualbox-ose-guest-x11, virtualbox-ose-guest-dkms
Depends: ${misc:Depends}, sudo, neurodebian-desktop, gdm, update-manager-gnome, update-notifier
Recommends: chromium-browser
Description: NeuroDebian guest additions (DO NOT INSTALL OUTSIDE VIRTUALBOX)
 This package configures a Debian installation as a guest operating system
 in a VirtualBox-based virtual machine for NeuroDebian.
 .
 DO NOT install this package unless you know what you are doing! For example,
 installation of this package relaxes several security mechanisms.
