#!/usr/bin/make -f

# one ring to rule them all ...
%:
	dh $@

override_dh_auto_configure:

override_dh_auto_build::
	# wallpaper
	[ ! -d build/wallpaper ] && mkdir -p build/wallpaper
	xcf2png -o build/wallpaper/neurodebian.png artwork/wallpaper_hotbrain.xcf
	# icons
	[ ! -d build/icons ] && mkdir -p build/icons
	inkscape artwork/icon.svg -w 32 -h 32 -e build/icons/neurodebian.png
	cp artwork/icon.svg build/icons/neurodebian.svg
	# manpages
	[ ! -d build/man ] && mkdir -p build/man
	help2man -h '--verbose-help' --no-info tools/backport-dsc \
		-n "backport Debian source packages" > build/man/backport-dsc.1

override_dh_auto_install::

override_dh_auto_test::
